<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styling/login.css" />
    <title>Hand of Zeus</title>
  </head>
  <body>
    <section class="login-container">
      <section class="logo-section">
        <h1 class="login-heading">Hand of Zeus</h1>
      </section>
      <button class="login-button" id="login-button">Login</button>
    </section>

    <script type="module" src="../scripts/login.js" defer></script>
  </body>
</html>