*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.eventHolder{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: flex-start;
}

.eventHeadingSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.eventObject{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}


.pill{
    background-color: #74b1e7;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    color: white;
    border-color: #3184ce;
}